* {
    font-family: system;
}

body {
    margin: 10px;
}

header {
    background: #eeeeee;
    padding: 6px;
    border-radius: 9px;
    margin-bottom: 5px;
}

.title.header {
    font-weight: 600;
}

.right.header {
    float: right;
}

.button.header {
    color: black;
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: blue;
}

.notice.body {
    border: 2px solid grey;
    border-radius: 9px;
    padding: 3px;
    margin-bottom: 3px;
    width: fit-content;
}

footer, #ftr {
    font-size: 12px;
    text-align: center;
    background: #eee;
    color: #000;
    margin-top: 25px;
    border-radius: 15px;
}